*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */

.d-flex{
    display: flex;
}

.img{
    width: 100%;
}

.ul-none{
    list-style: none;
}

.l-none{
    display: none;
}

/* #endregion utilities */


/* #region-sidebar */


main{
    width: 480px;
    background-color:  aqua;
    display: flex;
}

.left-nav{
    background-color: aquamarine;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    .big{
        display: none;
    }

    .download{
        text-align: center;
    }
}

#playlist{
    h4{
        color: white;
    }
}

.top-nav{
    background-color: orange;
    flex-direction: row;
    height: 100px;
    width: 100%;  
    
    .btn-upgrade{

    }
}